@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin:0;
    /* padding:10; */
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

*:focus{
    outline:none;
}


a:link, a:hover, a:visited{
    color:#fff;
    text-decoration:none;
    text-shadow:1px 1px 0 #3b3b3b;
}

nav{
    width:100%;
    height:auto;
    background:#303030;
    font-size:1.2em;
    position:relative;
    padding-left:0px;
}

nav ul{
    display:none;
    height:auto;
    padding-left:0px;
    
}

nav ul li{
    display:block;
    width:100%;
    left:0;
    text-align:center;
    color:white;
    border-bottom:1px solid #555555;
}


nav ul li a{
    line-height:7vh;
}

nav a#trigger {
    display:block;
    background-color:#303030;
    width:100%;
    padding-left:4vw;
    line-height:7vh;
    position:relative;
}

nav a#trigger::after{
    content:"";
    background:url('hamburgerbutton.png') no-repeat;
    background-size:100%;
    width:30px; 
    height:7vh; 
    display:inline-block;
    position:absolute; 
    right:4vw;
    top:1.3vh;
}



@media screen and (min-width:600px){
    nav{
        height:40px;
        border-bottom:2px solid #303030;
    }

    nav ul{
        display:block;
        height:40px; padding:0; text-align:center;
        margin: 0 auto;
        height:40px;
    }


    nav ul li{
        display:inline-block;
        width:140px; border-bottom:0; border-right:1px solid #555555;
        margin-right:0px;
        height:40px;
        line-height:40px;
    }


    nav ul li:last-child{
        border-right:0;
    }

    nav ul li a{
        font-size:1em;
        line-height:40px;
    }

    nav a#trigger{
        display:none;
    }
}




table{
    border-collapse: collapse;
}



.btn{
   
    border: gray;
    padding:1px;
    width:10vw;
    height:5vh;
    background-color: #f7f5f5;
    border-radius: 0.7vw;
    display:inline-block;
    margin-right:2vw;
}

.btn:hover{
    background-color: #e3e3e3;
}


.replybtn{
   
    border: gray;
    width:5vw;
    height:3.5vh;
    background-color: #f7f5f5;
    border-radius: 0.5vw;
    display:inline-block;
    margin-right:2vw;
}

.replybtn:hover{
    background-color:#e3e3e3;
}

.formArea{
    display:block;
    margin-top:2vh;
    margin-left:5vw;
    margin-right:5vw;
    width:90vw;
}

